
<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:insert="~{ fragments/components :: head }"></th:block>
    <title>Dashboard</title>
</head>

<body class="">
    <div class="wrapper ">
        <th:block th:insert="~{ fragments/components :: sidebar }"></th:block>
        <div class="main-panel">
            <th:block th:insert="~{ fragments/components :: navbar }"></th:block>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4 class="card-title"> Lịch làm Việc Nhân Viên</h4>
                                <a href="/leader/workschedules/new" class="btn btn-primary">Thêm mới</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên nhân viên</th>
                                                <th>Tháng</th>
                                                <th>Số Ngày Làm Việc</th>
                                                <th>Số Ngày Nghĩ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each=" : ${}">
                                                <td th:text="${}"></td>
                                                <td th:text="${}"></td>
                                                <td th:text="${}"></td>
                                                <td th:text="${}"></td>
                                                <td th:text="${}"></td>
                                                <td>
                                                    <a th:href="@{/dashboard/departments/{id}?type=edit(id=${department.id})}" class="btn btn-sm btn-outline-success">
                                                        <span>Edit</span>
                                                    </a>
                                                    <a th:href="@{/dashboard/departments/{id}?type=remove(id=${department.id})}" class="btn btn-sm btn-outline-danger">
                                                        <span>Remove</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="~{ fragments/components :: footer }"></th:block>
        </div>
    </div>
    <th:block th:insert="~{ fragments/components :: scripts }"></th:block>
</body>

</html>